import(jaspBase)
export(Anova)
export(AnovaRepeatedMeasures)
export(Ancova)
export(Manova)
export(AnovaBayesian)
export(AnovaRepeatedMeasuresBayesian)
export(AncovaBayesian)
export(.multivariateShapiroComputation)
export(BANOVAcomputMatchedInclusion)
export(AnovaInternal)
export(AnovaRepeatedMeasuresInternal)
export(AncovaInternal)
export(ManovaInternal)
export(AnovaBayesianInternal)
export(AnovaRepeatedMeasuresBayesianInternal)
export(AncovaBayesianInternal)

